html{
    scroll-behavior:smooth;
  }

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
  }


h1, h2{
font-family: "Yeseva One", serif;
font-weight: 400;
font-style: normal;
font-size:36px;

display: block;
margin: auto;
/* text-align: justify; */
text-justify: inter-word;
width: 100%;
max-width: 800px;   
}



p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-style: normal;

    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0;
    color: #162c3a;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    max-width: 800px; 
    padding: 0; 
    display: block;
    margin: auto; 
}

.list li{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-style: normal;

    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0;
    color: #162c3a;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    max-width: 800px; 
    padding: 0; 
    display: block;
    margin: auto; 
}

.navbar{
    position:relative;
    top:0;
    width:100%;
    /* wbackground-color:#f7f3e8 ; */
    z-index: 1000;
}

.navbar li{
    display:inline-block;
    padding: 30px 20px;
}

.navbar a {
    text-decoration:none;
    color:black;
    padding:14px 16px;
    font-size: 20px;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.navbar a:hover{
        color:#d97c50;
    }

    
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #162c3a;
    /* padding: 70px; */
    width: 100%;
    position: relative;
    height: 400px; /* Adjust based on your preference */
    /* background-color: #f0f0f0; Optional: in case the image doesn't load */
    overflow: hidden;
}

    
.banner-image {
    width: 100%; /* Ensures the image covers the full width of the banner */
    height: 100%; /* Ensures the image covers the full height of the banner */
    object-fit: cover; /* Maintains aspect ratio and covers the area */
}


.banner h1{
        font-size:100px;
        /* min-width:100%; */
        letter-spacing:1;
    }


.footer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:#162c3a;
    padding:10px;
    width:100%;

}

.footer img{
    height:1cm;
    width:1cm;
}

.fcolor{
    color:#dba988;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


/* .img-container {
    background-image: url("resources/images/photo-1536440136628-849c177e76a1-min.jpg");
    height: 40%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
} */

.image{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px; 
    margin:auto;
}

.image img{
    max-width: 550px; 
    border-radius:10px;
    margin:15px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.vertical-image{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    max-width: 600px; 
    margin:auto;
}

.vertical-image img{
    width:48%;
    max-width: 200px; 
    border-radius:10px;
    margin:15px;
}

a[href="resources/images/ITI-1.pdf"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    text-decoration: none; 
}

a[href="resources/images/ITI-1.pdf"] button {
    background-color: white;
    color: #162c3a;
    border-radius: 12px;
    border: solid 1px #162c3a;
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block; 
    margin:6%;
}

a[href="resources/images/ITI-1.pdf"] button:hover {
    background-color: #162c3a;
    color: #f7f3e8;
}



/* animation */
.hidden{
    opacity:0;
    transition: all 0.7s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}