@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
}

.navbar{
    position: relative;
    top: 0;
    width: 100%;
    background-color:white ;
    z-index: 1000;
}

.navbar li{
    display: inline-block;
    padding: 3%;
}

.navbar a:hover{
        color:rgba(211, 150, 140, 0.6);
    }


.section-title {
  text-align: center;
  font-family: 'DM Serif Display', serif; 
  font-size: 74px;
  margin-bottom: 20px;
  color: rgb(131, 153, 88); 
}

.container{
  position: relative;
  max-width: 1350px;
  width:100%;
  padding:20px;
  margin: 50px auto;
}

.filter_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

button{
  padding: 10px 20px;
  font-size: 18px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)
}

button.active{
  background: rgba(10, 51, 35, 1) ;
  color: white;
}

.filterable_cards {
  display: flex;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex-grow: 1;
  flex-basis: 300px;
  background-color: white;
  padding: 3px;
  border-radius: 8px;
}

.card.hide{
  display: none;
}

.card img {
  width:100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card_body{
  padding: 15px 20px 20px;
}

.card_title{
  font-size: 20px;
  font-weight: 500;
  color: rgba(10, 51, 35, 1);
}

.card_text{
  font-size: 18px;
  color: rgba(10, 51, 35, 1);
}


/* Button to toggle the menu */
.navbar a, .menu-toggle  {
    text-decoration:none;
    color:rgba(10, 51, 35, 1);
    padding:14px 16px;
    font-size: 20px;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.navbar a:hover{
        color:rgba(211, 150, 140, 0.6) ;
    }

.menu-toggle:hover{
    color:rgba(10, 51, 35, 1);
}

.menu-toggle {
    display: none; 
    background-color:white;
    color:rgba(211, 150, 140, 0.6) ;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    text-align:center;
}

pre {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    font-family: Consolas, monospace;
    font-size: 16px;
    overflow-x: auto;
    width: 90%; 
    max-width: 900px; 
    margin: 20px 0; 
}

 /* navigation bar */
 @media (max-width: 600px) {
    .navbar {
        /* Stacks elements vertically */
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    .menu-toggle {
        display: block; 
        margin: 14px 10px; 
    }

    .navbar ul {
        display: none;
        flex-direction: column; 
        width: 100%;
    }

    .navbar li {
        width: 100%; 
        text-align: left; 
        display: block; 
    }

    /* When the 'show' class is added to the navbar, show menu */
    .navbar.show ul {
        display: flex; 
    }
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgba(211, 150, 140, 0.6);
    width: 100%;
    margin-top: auto;
}

.footer p{
    font-size: 14px;
    margin: 0;
    padding: 10px 5px;
}

.footer img{
    height: 20px;
    width: 20px;
    margin: 0 10px;
}

.fcolor{
    color: rgb(16, 86, 102);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}